#banner{
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url(../images/image-1.jpeg);
    text-align: center;
}

h2.commodity.green {
    background-color: mediumspringgreen;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white    
}

h2.commodity.red {
    background-color: lightcoral;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white 
}

h2.commodity.blue {
    background-color: skyblue;
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white 
}

h3.mini-header {
    font-family: Helvetica;
    font-size: large;
}

p.paragraph {
    font-family: Helvetica;
    font-size: small;
}

span.blue {
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}
